.Company-info {
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 80px 100px 0 100px;
    background-color: white;
}

.Company-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Company-title h1 {
    margin: 0;
    margin-right: 20px;
    margin-bottom: 30px;
    font-size: 3em;
}

.Company-data span {
    margin-left: 10px;
}

.Company-data h2 {
    text-align: center;
    margin-bottom: 0px;
}

.Company-data h3 {
    text-align: center;
    font-weight: bolder;
}

.Company-data p {
    margin-bottom: 0px;
}

.Company-data .ant-input[disabled] {
    width: 70%;
    margin-bottom: 15px;
    margin-top: 5px;
    cursor: auto;
    color: #a2a0a0;
}

.company-info-basic {
    justify-content: center;
}

.company-info-esg {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 20px 0;
}

.ant-col{
    border-radius: 10px;
    padding: 20px;
}

.company_info_input .ant-form-item{
    margin-bottom: 0px;
}

.company-info-governance {
    background-color: rgb(214, 255, 253);
}

.company-info-environment {
    background-color: rgb(215, 255, 214);
}

.company-info-society {
    background-color: rgb(251, 255, 214);
}

.performance {
    background-color: rgb(228, 228, 228);
}

.company {
    text-align: right;
}

.company input{
    text-align: right;
}

.performance h2{
    font-weight: bold;
    margin-bottom: 5px;
}

.performance-compare h2 {
    font-weight: bold;
}

.ESG-title {
    padding: 5px 0 5px 0;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    margin: 25px 0 15px 0;
}

.better {
    text-align: center;
    border: rgb(255, 0, 0);
    border-style: solid;
    width: 58px;
    line-height: 50px;
    margin: 16px auto;
    border-radius: 50%;
    font-size: 20px;
    color: red;
}

.worse {
    text-align: center;
    border: rgb(0, 0, 0);
    border-style: solid;
    width: 58px;
    line-height: 50px;
    margin: 16px auto;
    border-radius: 50%;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.equal {
    text-align: center;
    border: rgb(139, 139, 139);
    border-style: solid;
    width: 58px;
    line-height: 50px;
    margin: 16px auto;
    border-radius: 50%;
    font-size: 20px;
    color: rgb(139, 139, 139);
}